In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from datetime import datetime
import calendar

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
707,tt0947802,20000000,27640028,Lakeview Terrace,Samuel L. Jackson|Patrick Wilson|Kerry Washing...,Neil LaBute,What Could Be Safer Than Living Next to a Cop?,A young interracial couple has just moved into...,110,Drama|Crime|Thriller,Screen Gems|Overbrook Entertainment,9/19/2008,5.8,2008
1634,tt0364751,19000000,69631118,Without a Paddle,Seth Green|Matthew Lillard|Dax Shepard|Antony ...,Steven Brill,"The call of the wild, the thrill of adventure....","Three friends, whose lives have been drifting ...",95,Action|Adventure|Comedy|Thriller,Paramount Pictures|De Line Pictures,8/20/2004,5.2,2004
1509,tt0469641,63000000,162945894,World Trade Center,Nicolas Cage|Maria Bello|Maggie Gyllenhaal|Mic...,Oliver Stone,The World Saw Evil That Day. Two Men Saw Somet...,"On September, 11th 2001, after the terrorist a...",128,Drama|History|Thriller,Paramount Pictures|Double Feature Films|Interm...,8/9/2006,5.9,2006
263,tt0432283,40000000,46471023,Fantastic Mr. Fox,George Clooney|Meryl Streep|Jason Schwartzman|...,Wes Anderson,Dig the life fantastic!,The Fantastic Mr. Fox bored with his current l...,87,Adventure|Animation|Comedy|Family,Twentieth Century Fox Film Corporation|Regency...,10/23/2009,7.5,2009
420,tt1216492,19000000,29922472,Leap Year,Amy Adams|Matthew Goode|Adam Scott|John Lithgo...,Anand Tucker,Anna planned to propose to her boyfriend on Fe...,When yet another anniversary passes without a ...,100,Romance|Comedy,Universal Pictures|Spyglass Entertainment|Octa...,1/8/2010,6.3,2010

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data['revenue'] - data['budget']
data['genres'] = data['genres'].apply(lambda x: x.split('|'))
data['director'] = data['director'].apply(lambda x: x.split('|'))
data['cast'] = data['cast'].apply(lambda x: x.split('|'))
data['production_companies'] = data['production_companies'].apply(lambda x: x.split('|'))
data['release_date'] = data['release_date'].apply(lambda x:datetime.strptime(x, "%m/%d/%Y"))
data['release_month'] = data['release_date'].apply(lambda x: calendar.month_name[x.month])

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
data[data['budget'] == data['budget'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...",[Rob Marshall],Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,"[Adventure, Action, Fantasy]","[Walt Disney Pictures, Jerry Bruckheimer Films...",2011-05-11,6.3,2011,641683000,May

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения
data.sort_values(by='budget', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...",[Rob Marshall],Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,"[Adventure, Action, Fantasy]","[Walt Disney Pictures, Jerry Bruckheimer Films...",2011-05-11,6.3,2011,641683000,May

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [9]:
data[data['runtime'] == data['runtime'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
1157,tt0279111,56000000,12923936,Gods and Generals,"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...",[Ronald F. Maxwell],The nations heart was touched by...,The film centers mostly around the personal an...,214,"[Drama, History, War]","[Turner Pictures, Antietam Filmworks]",2003-02-21,5.8,2003,-43076064,February

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = 'Gods and Generals (tt0279111)'

In [11]:
data[data['runtime'] == data['runtime'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
768,tt1449283,30000000,14460000,Winnie the Pooh,"[Jim Cummings, Travis Oates, Jim Cummings, Bud...","[Stephen Anderson, Don Hall]",Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,"[Animation, Family]","[Walt Disney Pictures, Walt Disney Animation S...",2011-04-13,6.8,2011,-15540000,April

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = 110

In [13]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = 107

In [15]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = 'Avatar (tt0499549)'

In [17]:
data[data['profit'] == max(data['profit'])]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
239,tt0499549,237000000,2781505847,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,"[Action, Adventure, Fantasy, Science Fiction]","[Ingenious Film Partners, Twentieth Century Fo...",2009-12-10,7.1,2009,2544505847,December

# 7. Какой фильм самый убыточный?

In [18]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [19]:
data[data['profit'] == min(data['profit'])]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films...",2013-07-03,6.0,2013,-165710090,July

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers['8'] = 1478

In [21]:
len(data[data['revenue'] > data['budget']])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [23]:
movies = data[data['release_year'] == 2008]
movies[movies['profit'] == max(movies['profit'])]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
599,tt0468569,185000000,1001921825,The Dark Knight,"[Christian Bale, Michael Caine, Heath Ledger, ...",[Christopher Nolan],Why So Serious?,Batman raises the stakes in his war on crime. ...,152,"[Drama, Action, Crime, Thriller]","[DC Comics, Legendary Pictures, Warner Bros., ...",2008-07-16,8.1,2008,816921825,July

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
answers['10'] = 'The Lone Ranger (tt1210819)'

In [25]:
movies = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)]
movies[movies['profit'] == min(movies['profit'])]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films...",2013-07-03,6.0,2013,-165710090,July

# 11. Какого жанра фильмов больше всего?

In [26]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama'

In [27]:
g_list = []
for g in data['genres']:
    g_list.extend(g)

my_count = Counter(g_list)
my_count.most_common()

[('Drama', 782),
 ('Comedy', 683),
 ('Thriller', 596),
 ('Action', 582),
 ('Adventure', 415),
 ('Crime', 315),
 ('Romance', 308),
 ('Family', 260),
 ('Science Fiction', 248),
 ('Fantasy', 222),
 ('Horror', 176),
 ('Mystery', 168),
 ('Animation', 139),
 ('Music', 64),
 ('History', 62),
 ('War', 58),
 ('Western', 19),
 ('Documentary', 8),
 ('Foreign', 2)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [28]:
answers['12'] = 'Comedy'

In [29]:
profitable = data[data['profit'] > 0]
g_list = []
for g in profitable['genres']:
    g_list.extend(g)

my_count = Counter(g_list)
my_count.most_common()

[('Drama', 560),
 ('Comedy', 551),
 ('Thriller', 446),
 ('Action', 444),
 ('Adventure', 337),
 ('Romance', 242),
 ('Crime', 231),
 ('Family', 226),
 ('Science Fiction', 195),
 ('Fantasy', 188),
 ('Horror', 150),
 ('Animation', 120),
 ('Mystery', 119),
 ('Music', 47),
 ('History', 46),
 ('War', 41),
 ('Western', 12),
 ('Documentary', 7)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [30]:
answers['13'] = 'Peter Jackson'

In [31]:
sum_res = data.explode('director').groupby(['director'])['revenue'].sum()
sum_res[sum_res == max(sum_res)]

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [32]:
answers['14'] = 'Robert Rodriguez'

In [33]:
data.explode('genres').explode('director').pivot_table(values='imdb_id',
index=['director'],
columns=['genres'],
aggfunc='count').sort_values(by='Action', ascending=False).head(10)

genres,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,Foreign,History,Horror,Music,Mystery,Romance,Science Fiction,Thriller,War,Western
director,,,,,,,,,,,,,,,,,,,
Robert Rodriguez,9.0,4.0,NaN,5.0,3.0,NaN,NaN,5.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0,5.0,NaN,NaN
Michael Bay,7.0,6.0,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,5.0,3.0,1.0,NaN
Paul W.S. Anderson,7.0,4.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0,3.0,NaN,NaN,1.0,5.0,2.0,NaN,NaN
Ridley Scott,6.0,5.0,NaN,1.0,3.0,NaN,9.0,NaN,NaN,NaN,2.0,1.0,NaN,1.0,1.0,2.0,3.0,2.0,NaN
Antoine Fuqua,6.0,1.0,NaN,NaN,4.0,NaN,5.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,5.0,2.0,NaN
Zack Snyder,5.0,3.0,1.0,NaN,NaN,NaN,NaN,1.0,4.0,NaN,NaN,1.0,NaN,1.0,NaN,2.0,1.0,1.0,NaN
Lee Tamahori,5.0,2.0,NaN,NaN,3.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,4.0,1.0,NaN
Paul Greengrass,5.0,1.0,NaN,NaN,1.0,NaN,5.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,5.0,NaN,NaN
Peter Berg,5.0,2.0,NaN,1.0,NaN,NaN,3.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4.0,1.0,NaN
Peter Jackson,5.0,7.0,NaN,NaN,NaN,NaN,2.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [34]:
answers['15'] = 'Chris Hemsworth'

In [35]:
data[data['release_year'] == 2012].explode('cast').groupby(['cast', 'revenue']).sum().sort_values(by='revenue', ascending=False).head(10)

,,budget,runtime,vote_average,release_year,profit
cast,revenue,,,,,
Mark Ruffalo,1519557910,220000000,143,7.3,2012,1299557910
Chris Evans,1519557910,220000000,143,7.3,2012,1299557910
Scarlett Johansson,1519557910,220000000,143,7.3,2012,1299557910
Chris Hemsworth,1519557910,220000000,143,7.3,2012,1299557910
Robert Downey Jr.,1519557910,220000000,143,7.3,2012,1299557910
Daniel Craig,1108561013,200000000,143,6.8,2012,908561013
Judi Dench,1108561013,200000000,143,6.8,2012,908561013
Javier Bardem,1108561013,200000000,143,6.8,2012,908561013
Naomie Harris,1108561013,200000000,143,6.8,2012,908561013
Ralph Fiennes,1108561013,200000000,143,6.8,2012,908561013

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [36]:
answers['16'] = 'Matt Damon'

In [37]:
data[data['budget'] > data['budget'].mean()].explode('cast').groupby(
    ['cast']).count().sort_values(by='imdb_id', ascending=False).head(10)

,imdb_id,budget,revenue,original_title,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
cast,,,,,,,,,,,,,,,
Matt Damon,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18
Adam Sandler,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17
Angelina Jolie,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16
Tom Cruise,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15
Eddie Murphy,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15
Samuel L. Jackson,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15
Russell Crowe,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14
Jamie Foxx,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14
Mark Wahlberg,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14
Ben Stiller,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [38]:
answers['17'] = 'Action'

In [39]:
nc_genres = data[data['cast'].apply(lambda x: 'Nicolas Cage' in x)]['genres']

g_list = []
for g in nc_genres:
    g_list.extend(g)

my_count = Counter(g_list)
my_count.most_common()

[('Action', 17),
 ('Thriller', 15),
 ('Drama', 12),
 ('Crime', 10),
 ('Fantasy', 8),
 ('Adventure', 7),
 ('Comedy', 6),
 ('Science Fiction', 4),
 ('Mystery', 3),
 ('Animation', 3),
 ('Family', 3),
 ('History', 2),
 ('War', 1),
 ('Horror', 1),
 ('Romance', 1)]

# 18. Самый убыточный фильм от Paramount Pictures

In [40]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

In [41]:
data[data['production_companies'].apply(lambda x: 'Paramount Pictures' in x)].sort_values(by='profit').head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
925,tt0267626,100000000,35168966,K-19: The Widowmaker,"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...",[Kathryn Bigelow],Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,"[Thriller, Drama, History]","[Paramount Pictures, Intermedia Films, Nationa...",2002-07-19,6.0,2002,-64831034,July

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [42]:
answers['19'] = '2015'

In [43]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [44]:
answers['20'] = '2014'

In [45]:
data[data['production_companies'].apply(lambda x:'Warner Bros' in "".join(x))].groupby(['release_year']).sum().sort_values(by='profit',ascending=False)

                  budget     revenue  runtime  vote_average      profit
release_year
2014           947600000  3243064519     1576          88.9  2295464519
2007           982000000  3183675217     1721          95.4  2201675217
2008           916000000  3050595031     1366          72.0  2134595031
2010          1034000000  3008712985     1421          79.6  1974712985
2011           974000000  2845393682     1248          68.3  1871393682
2003           890000000  2745493377     1085          56.7  1855493377
2009           915500000  2737954136     1305          67.9  1822454136
2013           963500000  2599953400     1100          59.9  1636453400
2004          1100000000  2731933725     1624          78.7  1631933725
2005           861000000  2412980298     1193          63.0  1551980298
2001           923000000  2266545668     1571          83.6  1343545668
2012           611500000  1869520056      579          30.0  1258020056
2002           680000000  1702709901     1281          70.6  1022709901
2015           820800003  1691168351     1358          75.9   870368348
2006           901000000  1521170743     1504          81.0   620170743
2000           572900000  1025531386     1333          68.0   452631386

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [46]:
answers['21'] = 'Сентябрь'

In [47]:
data['release_month'].value_counts()

September    227
December     190
October      186
August       161
March        156
April        149
June         147
November     146
July         142
May          140
February     135
January      110
Name: release_month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [48]:
answers['22'] = 450

In [49]:
data[data['release_month'].isin(['June', 'July', 'August'])]['release_month'].count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [50]:
answers['23'] = 'Peter Jackson'

In [51]:
data[data['release_month'].isin(['December', 'January', 'February'])].explode('director')['director'].value_counts()

Peter Jackson         7
Clint Eastwood        6
Steven Soderbergh     6
Adam Shankman         4
Nancy Meyers          4
                     ..
Iain Softley          1
Todd Phillips         1
Paul W.S. Anderson    1
Angelina Jolie        1
Ben Garant            1
Name: director, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [52]:
answers['24'] = 'Four By Two Productions'

In [53]:
data.explode('production_companies').groupby(['production_companies']).apply(lambda x:x['original_title'].str.len().mean()).sort_values(ascending=False).head(10)

production_companies
Four By Two Productions           83.0
Jim Henson Company, The           59.0
Dos Corazones                     47.0
Museum Canada Productions         46.0
Polsky Films                      46.0
The Saul Zaentz Company           43.0
Lucasfilm                         41.5
Harry Potter Publishing Rights    41.0
Total Entertainment               41.0
TSBD Canada Productions           41.0
dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [54]:
answers['25'] = 'Midnight Picture Show'

In [55]:
data.explode('production_companies').groupby(['production_companies']).apply(lambda x:x['overview'].str.len().mean()).sort_values(ascending=False).head(10)

production_companies
Midnight Picture Show                    1000.0
Room 9 Entertainment                      964.0
Brookwell-McNamara Entertainment          936.0
Lions Gate Family Entertainment           909.0
Crest Animation Productions               909.0
98 MPH Productions                        902.0
Heineken Branded Entertainment            902.0
Great Wight Productions/ Osford Films     880.0
Sanctum Australia                         880.0
Wayfare Entertainment                     880.0
dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [56]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [57]:
data.sort_values(by='vote_average', ascending=False).head(int(data.index.stop * 0.01))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
599,tt0468569,185000000,1001921825,The Dark Knight,"[Christian Bale, Michael Caine, Heath Ledger, ...",[Christopher Nolan],Why So Serious?,Batman raises the stakes in his war on crime. ...,152,"[Drama, Action, Crime, Thriller]","[DC Comics, Legendary Pictures, Warner Bros., ...",2008-07-16,8.1,2008,816921825,July
118,tt0816692,165000000,621752480,Interstellar,"[Matthew McConaughey, Jessica Chastain, Anne H...",[Christopher Nolan],Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,"[Adventure, Drama, Science Fiction]","[Paramount Pictures, Legendary Pictures, Warne...",2014-11-05,8.0,2014,456752480,November
125,tt2084970,14000000,233555708,The Imitation Game,"[Benedict Cumberbatch, Keira Knightley, Matthe...",[Morten Tyldum],The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,"[History, Drama, Thriller, War]","[Black Bear Pictures, Bristol Automotive]",2014-11-14,8.0,2014,219555708,November
9,tt2096673,175000000,853708609,Inside Out,"[Amy Poehler, Phyllis Smith, Richard Kind, Bil...",[Pete Docter],Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,"[Comedy, Animation, Family]","[Walt Disney Pictures, Pixar Animation Studios...",2015-06-09,8.0,2015,678708609,June
34,tt3170832,6000000,35401758,Room,"[Brie Larson, Jacob Tremblay, Joan Allen, Sean...",[Lenny Abrahamson],Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,"[Drama, Thriller]","[Element Pictures, No Trace Camping, A24, Dupe...",2015-10-16,8.0,2015,29401758,October
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,"[Leonardo DiCaprio, Jonah Hill, Margot Robbie,...",[Martin Scorsese],EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,"[Crime, Drama, Comedy]","[Paramount Pictures, Appian Way, EMJAG Product...",2013-12-25,7.9,2013,292000694,December
128,tt2267998,61000000,369330363,Gone Girl,"[Ben Affleck, Rosamund Pike, Carrie Coon, Neil...",[David Fincher],You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,"[Mystery, Thriller, Drama]","[Twentieth Century Fox Film Corporation, Regen...",2014-10-01,7.9,2014,308330363,October
1191,tt2024544,20000000,187000000,12 Years a Slave,"[Chiwetel Ejiofor, Michael Fassbender, Lupita ...",[Steve McQueen],The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,"[Drama, History]","[Plan B Entertainment, Regency Enterprises, Ri...",2013-10-18,7.9,2013,167000000,October
119,tt2015381,170000000,773312399,Guardians of the Galaxy,"[Chris Pratt, Zoe Saldana, Dave Bautista, Vin ...",[James Gunn],All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,"[Action, Science Fiction, Adventure]","[Marvel Studios, Moving Picture Company (MPC),...",2014-07-30,7.9,2014,603312399,July
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,"[Elijah Wood, Ian McKellen, Viggo Mortensen, L...",[Peter Jackson],The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,"[Adventure, Fantasy, Action]","[WingNut Films, New Line Cinema]",2003-12-01,7.9,2003,1024888979,December
1800,tt0209144,9000000,39723096,Memento,"[Guy Pearce, Carrie-Anne Moss, Joe Pantoliano,...",[Christopher Nolan],Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,"[Mystery, Thriller]","[Summit Entertainment, Newmarket Capital Group...",2000-10-11,7.9,2000,30723096,October
370,tt1375666,160000000,825500000,Inception,"[Leonardo DiCaprio, Joseph Gordon-Levitt, Elle...",[Christopher Nolan],Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,"[Action, Thriller, Science Fiction, Mystery, A...","[Legendary Pictures, Warner Bros., Syncopy]",2010-07-14,7.9,2010,665500000,July
872,tt0253474,35000000,120072577,The Pianist,"[Adrien Brody, Thomas Kretschmann, Frank Finla...",[Roman Polanski],Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,"[Drama, War]","[Bac Films, Canal+Polska, Heritage Films, Stud...",2002-09-24,7.9,2002,85072577,September
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,"[Ralph Fiennes, Tony Revolori, F. Murray Abrah...",[Wes Anderson],A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,"[Comedy, Drama]","[Fox Searchlight Pictures, Scott Rudin Product...",2014-02-26,7.9,2014,144600318,February
1188,tt1798709,23000000,47351251,Her,"[Joaquin Phoenix, Scarlett Johansson, Rooney M...",[Spike Jonze],A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,"[Romance, Science Fiction, Drama]",[Annapurna Pictures],2013-12-18,7.8,2013,24351251,December
28,tt1895587,20000000,88346473,Spotlight,"[Mark Ruffalo, Michael Keaton, Rachel McAdams,...",[Tom McCarthy],Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,"[Drama, Thriller, History]","[Participant Media, Open Road Films, Anonymous...",2015-11-06,7.8,2015,68346473,November
124,tt2245084,165000000,652105443,Big Hero 6,"[Scott Adsit, Ryan Potter, Daniel Henney, T.J....","[Don Hall, Chris Williams]",From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,"[Adventure, Family, Animation, Action, Comedy]","[Walt Disney Pictures, Walt Disney Animation S...",2014-10-24,7.8,2014,487105443,October
177,tt2582846,12000000,305151265,The Fault in Our Stars,"[Shailene Woodley, Ansel Elgort, Nat Wolff, La...",[Josh Boone],One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,"[Romance, Drama]","[Fox 2000 Pictures, Temple Hill Entertainment,...",2014-05-16,7.8,2014,293151265,May

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [58]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [59]:
def match_pairs(c):
    if ('Johnny Depp' in c) & ('Helena Bonham Carter' in c):
        return 'Johnny & Helena'
    elif ('Ben Stiller' in c) & ('Owen Wilson' in c):
        return 'Ben & Owen'
    elif ('Vin Diesel' in c) & ('Paul Walker' in c):
        return 'Vin & Paul'
    elif ('Adam Sandler' in c) & ('Kevin James' in c):
        return 'Adam & Kevin'
    elif ('Daniel Radcliffe' in c) & ('Rupert Grint' in c):
        return 'Daniel & Rupert'
    else:
        return 'None'

data['pairs'] = data['cast'].apply(match_pairs)
data['pairs'].value_counts()

None               1859
Daniel & Rupert       8
Ben & Owen            6
Johnny & Helena       6
Adam & Kevin          5
Vin & Paul            5
Name: pairs, dtype: int64

# Submission

In [60]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Gods and Generals (tt0279111)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Comedy',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [61]:
# и убедиться что ни чего не пропустил)
len(answers)

27